@charset "UTF-8";
@font-face {
  font-family: 'SharpGrotesk';
  src: url("SharpGrotesk.woff") format("woff"), url("SharpGrotesk.woff2") format("woff2"), url("SharpGrotesk.eot"), url("SharpGrotesk.eot?#iefix") format("embedded-opentype"), url("SharpGrotesk.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FuturaBook';
  src: url("FuturaPT-Book.woff2") format("woff2"), url("FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FuturaDemi';
  src: url("FuturaPT-Demi.woff2") format("woff2"), url("FuturaPT-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPTLight';
  src: url("FuturaPTLight.woff") format("woff"), url("FuturaPTLight.woff2") format("woff2"), url("FuturaPTLight.eot"), url("FuturaPTLight.eot?#iefix") format("embedded-opentype"), url("FuturaPTLight.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MinionPro';
  src: url("MinionPro-Regular.woff2") format("woff2"), url("MinionPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 62.5%;
}

@media (min-width: 991px) and (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}

@media (min-width: 750px) and (max-width: 990px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 749px) {
  html {
    font-size: 35%;
  }
}

.PageClassicWrap .PageContent, .PageClassicWrap .PageHeader {
  margin-left: 5rem !important;
}

.wg-list.country-selector.yellow_glot a {
  color: black !important;
}

.wg-list.country-selector.yellow_glot .wgcurrent::after {
  color: black !important;
}

.Form__ItemHelp {
  font-size: 1rem;
}

.no_show {
  display: none;
}

.show_me {
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.Header__Logo .Heading {
  font-family: 'SharpGrotesk';
  text-transform: lowercase;
  font-size: 3.3rem !important;
}

@media (min-width: 1800px) {
  .Header__Logo .Heading {
    font-family: 'SharpGrotesk';
    text-transform: lowercase;
    font-size: 3.8rem !important;
  }
}

p {
  font-size: 1.5rem;
}

.f_demi {
  font-family: 'FuturaDemi';
}

span {
  font-family: 'FuturaPTLight';
}

.f_light .Rte, p, h1, h2, h3, h4, h5, h6, a, pre, .Button {
  font-family: 'FuturaPTLight';
  font-weight: normal;
  font-style: normal;
}

.f_book, .Header__MainNav .Heading {
  font-family: 'FuturaBook';
  font-style: normal;
  font-size: 1.4rem;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

.show_me {
  display: block !important;
}

#block-16164220335f9ae374-0 {
  margin-bottom: 5rem;
}

.shopify-section--bordered {
  border: none !important;
}

.SectionHeader__Heading {
  text-align: left;
  margin-left: 4.2rem;
}

.HorizontalList--spacingLoose .HorizontalList__Item {
  margin-right: 11px !important;
  margin-left: 14px;
}

.Image--contrast::after {
  content: none;
  background-image: none;
}

.Form__Title {
  font-size: 1.6rem !important;
  font-family: "FuturaDemi" !important;
}

.Drawer__Title {
  font-family: 'FuturaDemi';
}

.bordering #first_link {
  letter-spacing: 2px;
  border-bottom: 1px solid black !important;
  font-family: 'FuturaDemi';
}

.Header {
  box-shadow: none;
}

#Search .ProductItem__Info {
  margin-bottom: 3rem !important;
}

.Search {
  top: 0;
  z-index: 999 !important;
  width: 30%;
  right: 0;
}

.Search .Search__Input {
  font-size: 1.6rem !important;
  letter-spacing: 1px;
  font-family: "FuturaBook";
  text-transform: lowercase !important;
}

.Search .Search__InputIconWrapper {
  display: none;
}

@media screen and (min-width: 641px) {
  .\31\/4--tablet-and-up, .\33\/12--tablet-and-up {
    width: 100%;
  }
}

.Header__SecondaryNav a {
  text-transform: lowercase !important;
}

.Header__Wrapper.Header__Wrapper, .Header__MainNav {
  padding-bottom: 0px !important;
}

.MegaMenu__Inner {
  grid-template-columns: repeat(auto-fit, minmax(120px, 6fr)) !important;
  max-width: 160rem !important;
}

.MegaMenu {
  padding: 10px 0px 5px 0px;
}

.MegaMenu__Item .Linklist .Link--secondary {
  font-family: "FuturaBook";
  line-height: 1.8rem;
}

.yellow {
  background-color: #ffe000 !important;
}

.Header__MainNav .Heading.u-h6 {
  letter-spacing: 2px;
}

.underscore .wholeBoutique {
  border-bottom: 1px solid black !important;
  font-family: 'FuturaDemi' !important;
  font-weight: bold !important;
}

.Header__MainNav {
  cursor: pointer;
}

.Header__MainNav .Heading.u-h6:hover {
  border-bottom: 1px solid black;
  font-family: 'FuturaDemi' !important;
  font-weight: bold !important;
}

.Header__Wrapper .Heading.Link, .Header__Wrapper .Link--secondary {
  font-size: 1.6rem;
  text-transform: lowercase;
}

.Header__Wrapper .Heading {
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.Header__Wrapper .MegaMenu__Title {
  font-size: 1.6rem;
  letter-spacing: 2px;
  font-family: 'FuturaDemi' !important;
  line-height: 1.8rem;
}

.Header__Wrapper .Header__CartCount {
  padding: 0px 3px 0px 4px;
  font-size: 1rem;
  border-radius: 100%;
}

.Header--index * {
  color: #ffe000 !important;
}

.yellow .Header__CartCount  {
  color: #ffe000  !important;
  background: black !important;
}

.Header--down *, .yellow * {
  color: black !important;
}

.Header--down {
  background: rgba(255, 255, 255, 0.4);
}

.Header--black * {
  color: black !important;
}

.Header--down .Header__CartCount {
  color: black !important;
  background: #ffe000 !important;
}

.Header--black .Header__CartCount {
  color: black !important;
  background: #ffe000 !important;
}

.Header--initialized.yellow .Header__CartCount {
  color: #ffe000 !important;
  background: black !important;
}

.Header--initialized .Header__CartCount {
  background: #ffe000;
  color: black !important;
}

.Header--transparent .Header__CartCount {
  color: black !important;
  background: #ffe000 !important;
}

#shopify-section-slideshow .flickity-viewport {
  height: 100vh !important;
}

.CollectionItem__Wrapper--large {
  height: 70rem !important;
}

@media screen and (min-width: 1640px) {
  .CollectionItem__Wrapper--large {
    height: 102rem !important;
  }
}

#section-16164219358990a602 {
  border-bottom: 1px solid black;
  margin-bottom: 7rem !important;
  width: 96%;
  margin: 0 auto;
}

#shopify-section-1616421999bf4ac604, #shopify-section-161891297359d781b5 {
  padding: 0px 1.9rem;
}

#shopify-section-16164220335f9ae374 .SectionFooter {
  margin-top: 3rem !important;
}

@media screen and (min-width: 1008px) {
  .\31\/4--lap-and-up, .\33\/12--lap-and-up {
    padding: 0.8rem !important;
  }
}

@media screen and (min-width: 1008px) {
  #shopify-section-collection-template .\31\/4--lap-and-up, #shopify-section-collection-template .\33\/12--lap-and-up {
    width: 20%;
  }
}

#shopify-section-collection-template .SectionHeader__Description {
  max-width: 200rem;
}

#shopify-section-collection-template .Popover--positionBottom::before {
  content: none !important;
}

#shopify-section-collection-template .CollectionToolbar__Item--filter .Text--subdued, #shopify-section-collection-template .filterCount {
  font-size: 1rem !important;
}

#shopify-section-collection-template .Container {
  padding: 0 40px;
}

#shopify-section-collection-template .SectionHeader__Description.Rte {
  text-align: left;
  margin-left: 1rem;
}

#shopify-section-collection-template .Drawer__Main .Collapsible__Button {
  font-size: 1.3rem;
  font-family: 'FuturaBook';
  letter-spacing: 2px;
}

#shopify-section-collection-template .Drawer__Main .Linklist__Item > .Link {
  font-size: 1.6rem;
  text-transform: lowercase;
  letter-spacing: 1px;
  font-family: 'FuturaPTLight';
}

#collection-sort-popover {
  box-shadow: none !important;
}

#collection-sort-popover [data-value="best-selling"], #collection-sort-popover [data-value="title-ascending"], #collection-sort-popover [data-value="title-descending"], #collection-sort-popover [data-value="created-ascending"], #collection-sort-popover [data-value="created-descending"] {
  display: none;
}

#collection-sort-popover .Popover__Value {
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-family: 'FuturaPTLight';
  text-transform: lowercase;
}

.ProductList {
  margin: 0 auto !important;
}

.CollectionToolbar__Item {
  font-size: 1.6rem !important;
  font-family: 'FuturaPTLight';
  text-transform: lowercase !important;
  letter-spacing: 1px !important;
  padding-left: 0px !important;
}

.ProductList--grid {
  padding: 0 40px;
}

.CollectionToolbar {
  box-shadow: none;
  position: absolute;
  top: 12rem;
  right: 0.5rem;
}

.CollectionToolbar__Item {
  border-left: none;
}

.fil_dariane {
  text-transform: uppercase;
  font-size: 14px;
  text-align: left !important;
  letter-spacing: 2px;
  z-index: 3;
  position: absolute;
  top: 14rem;
  left: 4.9rem;
}

.fil_dariane .ariane {
  font-size: 1.6rem;
}

.fil_dariane a:last-of-type h2 {
  font-family: "FuturaDemi" !important;
}

.ProductItem__Title, .ProductMeta__Title {
  letter-spacing: 0.2rem !important;
  font-family: 'FuturaBook';
  line-height: 2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.ProductItem__Info {
  text-align: left;
  margin-top: 4px;
}

.ProductItem__Info * {
  letter-spacing: 1px;
  font-size: 1.3rem;
  margin: 0;
  font-weight: normal;
}

.ProductItem__Info .ProductItem__Title, .ProductItem__Info .ProductMeta__Title {
  letter-spacing: 0.2rem !important;
  font-family: 'FuturaBook';
  line-height: 2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.ProductItem__Info .cat_title {
  text-transform: lowercase;
}

.FaqSummary__LinkLabel, .Faq__Section.u-h1 {
  font-size: 1.6rem;
  font-family: 'FuturaDemi';
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.Faq__Question {
  line-height: 2rem;
}

.Faq__AnswerWrapper *, .Faq__Question {
  font-size: 1.6rem;
  font-family: 'FuturaPTLight';
  letter-spacing: 0.1rem;
  text-transform: none;
}

#shopify-section-page-contact-template .u-h1, .apropos .u-h1, .PageClassicWrap .u-h1 {
  font-size: 1.6rem !important;
  font-family: 'FuturaDemi' !important;
}

#shopify-section-page-contact-template .SectionHeader__Heading, .apropos .SectionHeader__Heading, .PageClassicWrap .SectionHeader__Heading {
  margin-left: 0;
}

#shopify-section-page-contact-template .PageContent p, #shopify-section-page-contact-template .PageContent, .apropos .PageContent p, .apropos .PageContent, #shopify-section-announcement .PageContent p, #shopify-section-announcement .PageContent, .PageClassicWrap .PageContent p, .PageClassicWrap .PageContent {
  font-family: 'FuturaPTLight' !important;
  letter-spacing: 1px !important;
  font-size: 1.6rem !important;
}

.title_block {
  width: 40%;
  margin-left: 5rem;
}

.title_block h2 {
  font-family: 'FuturaDemi';
  letter-spacing: 2px;
  font-size: 1.6rem;
}

.title_block p {
  font-family: 'FuturaDemi';
  letter-spacing: 0px;
  font-size: 1.8rem;
}

.SidebarMenu .Drawer__Footer {
  box-shadow: none !important;
}

.SidebarMenu .Drawer__Footer::before {
  height: 0px;
  background-image: none;
}

.Drawer__Footer .Icon {
  height: 3em;
  width: 3em;
}

.SidebarMenu__Social {
  justify-content: flex-start;
  margin-left: 6rem;
  margin-bottom: 2rem;
}

.chapitres_container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
}

.chapitres_container .chapitre {
  width: 29%;
  margin: 4rem 0px;
}

.chapitres_container .chapitre h4 p {
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-family: FuturaPTLight !important;
  text-transform: none;
  line-height: 1.5rem;
  margin-top: 5px;
}

#shop_look_wrapper {
  display: block;
}

#shopify-section-161891297359d781b5 {
  position: relative;
}

#shopify-section-161891297359d781b5 .block_text {
  position: absolute;
  right: -200px;
  top: 0px;
  z-index: 999;
  width: 180px;
}

.ShopTheLook {
  width: 80%;
  padding: 0;
  max-width: 120vw;
  margin-left: 3rem !important;
}

#spot {
  opacity: 0;
  transition: all ease 0.6s;
}

.ShopTheLook__ProductItem .ProductItem__ImageWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  max-width: 30rem;
}

.ShopTheLook__ProductList .AspectRatio {
  display: none !important;
}

.ShopTheLook__ImageWrapper {
  width: 100% !important;
}

.ShopTheLook__ProductItem img {
  display: none;
}

.ShopTheLook__ProductItem * {
  text-align: center !important;
  font-family: "FuturaBook" !important;
}

.ShopTheLook__ProductItem .ProductItem__PriceList {
  font-weight: 300;
}

.ShopTheLook__ProductItem .cat_title {
  display: none;
}

#section-162124364603934c0f {
  display: none;
}

#shopify-section-161891297359d781b5 {
  margin-top: 8rem;
}

.ShopTheLook__ViewButton, .flickity-page-dots {
  display: none !important;
}

.ShopTheLook__ProductList {
  position: absolute;
  right: -5.4rem;
  top: 2rem;
}

.block_text .block_title {
  font-size: 1.6rem;
  letter-spacing: 2px;
  font-family: 'FuturaDemi' !important;
  text-transform: uppercase;
  line-height: 1.8rem;
}

.ShopTheLook__Dot::after {
  content: none;
}

.ShopTheLook__Dot {
  width: 15px;
  height: 15px;
}

.SectionHeader__Description {
  font-size: 1.5rem;
  font-family: 'FuturaPTLight';
  font-weight: 400;
}

.list_title, .featured_title {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  font-size: 2.2rem;
  font-family: 'FuturaBook' !important;
}

.list_subtitle {
  text-align: center;
  width: 100%;
  font-size: 1.8rem;
}

#shopify-section-16164220335f9ae374 .SectionHeader:not(:only-child) {
  margin-bottom: 2rem;
}

#shopify-section-16164220335f9ae374 .SectionHeader__Heading {
  margin-left: 0;
  text-align: center;
}

#shopify-section-16164220335f9ae374 section {
  padding-bottom: 2rem;
}

.shipping {
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  padding: 6px 0px;
  font-size: 1.4rem;
}

.ProductMeta__Vendor {
  letter-spacing: 0 !important;
  text-transform: lowercase !important;
  font-size: 1.3rem !important;
}

.ProductMeta__Price {
  font-family: 'FuturaPTLight' !important;
  margin-top: -1rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.ProductMeta__Description p {
  font-family: "FuturaPTLight" !important;
  letter-spacing: 1px !important;
  font-size: 1.6rem !important;
}

#shopify-section-product-recommendations .flickity-viewport {
  margin: 0px 1.0rem !important;
}

#shopify-section-recently-viewed-products .flickity-viewport {
  margin: 0px 0.2rem 0rem 1.5rem !important;
}

#shopify-section-product-recommendations .Container, #shopify-section-recently-viewed-products .Container {
  padding: 0px;
}

#shopify-section-product-recommendations .SectionHeader__Heading, #shopify-section-recently-viewed-products .SectionHeader__Heading {
  margin-left: 5rem;
}

.ProductForm__AddToCart:hover {
  color: white !important;
  background: black !important;
}

.ProductForm__AddToCart {
  color: black;
  font-size: 1.6rem;
  font-family: 'FuturaBook' !important;
  width: 62%;
  transition: all ease 0.3s;
}

.ProductForm__AddToCart::before {
  background: transparent !important;
}

.apropos img {
  margin: 0 auto;
}

.apropos .Container {
  padding: 0px;
}

.apropos .SectionHeader__Heading {
  margin: 0;
}

.apropos .FeatureText__ContentWrapper {
  padding-top: 0px;
}

.apropos .FeatureText__ContentWrapper, .apropos .FeatureText--withImage .FeatureText__ImageWrapper {
  vertical-align: top;
}

.apropos .FeatureText__ImageWrapper {
  padding-right: 5rem;
}

.apropos .FeatureText__ImageWrapper .AspectRatio {
  margin: 0 auto !important;
}

.apropos .FeatureText__Content {
  max-width: unset;
}

.apropos .SectionHeader__Description p {
  font-family: 'FuturaDemi' !important;
  letter-spacing: 0px !important;
  font-size: 1.8rem !important;
}

#shopify-section-page-contact-template .Container {
  padding: 0px;
}

#shopify-section-page-contact-template .PageContent {
  margin-left: 5rem;
}

#shopify-section-page-contact-template .SectionHeader__Heading {
  text-align: left;
  margin-left: 5rem !important;
}

#section-footer {
  border-top: 1px solid black;
  margin: 2%;
  margin-bottom: 2rem;
  padding-bottom: 0px;
}

#section-footer .Footer__StoreName {
  color: gray !important;
}

#section-footer .Footer__Aside {
  justify-content: flex-end;
  width: 97%;
  margin-top: 4rem !important;
}

#section-footer .Container {
  padding: 0 !important;
}

#section-footer #footer_title {
  font-family: "SharpGrotesk";
  color: black;
  white-space: nowrap;
  font-size: 7vw;
  text-align: center;
  margin-top: 5rem;
}

#section-footer .Footer__Inner {
  padding: 0 8rem;
}

#section-footer .Footer__Title {
  letter-spacing: 2px;
  font-family: 'FuturaBook' !important;
}

#section-footer .Link {
  letter-spacing: 1px;
}

#section-footer .Footer__Title, #section-footer .Link {
  font-size: 1.6rem;
}

#section-footer .Footer__StoreName {
  font-size: 1.4rem !important;
}

#section-footer .Form__Input {
  border: transparent !important;
  border-bottom: solid 1px black !important;
}

#section-footer .Form__Submit {
  display: none;
}

#section-footer .Footer__PaymentList {
  position: absolute;
  top: 15rem;
  right: 6rem;
}

@media screen and (min-width: 1800px) {
  .Footer__PaymentList {
    bottom: 47rem !important;
    right: 7rem !important;
    width: auto;
    border-top: none;
  }
}

@media screen and (max-width: 1040px) {
  .desktop {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
  .Header__CartCount {
    padding: 2px 5px 3px 7px !important;
    font-size: 12px !important;
  }
  .CollectionMain .ProductList--grid, #shopify-section-16164220335f9ae374 .ProductList--grid {
    padding: 0 3rem 0 1rem !important;
  }
  .HorizontalList__Item {
    margin: 0 2px !important;
  }
  .ProductMeta__Description .Rte p {
    font-size: 2rem;
  }
  .flickity-viewport img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .Slideshow__Carousel, .Slideshow__Carousel .flickity-viewport, .Slideshow__Slide {
    height: 102vh !important;
  }
  .Header__Logo .Heading {
    font-size: 2.6rem !important;
    white-space: nowrap;
  }
  .Header--transparent .Header__CartCount {
    margin-left: 1rem;
  }
  .SidebarMenu .Drawer__Content::before {
    background-image: none !important;
  }
  .SidebarMenu .Text--subdued {
    color: black;
    font-size: 3.2rem;
    text-transform: lowercase;
  }
  .SidebarMenu .Collapsible__Button.Link--primary {
    margin-top: -4rem;
    margin-bottom: -2rem;
  }
  .SidebarMenu .Collapsible {
    border: none;
  }
  #sidebar-menu .Icon {
    color: black;
  }
  .Drawer--fromLeft .Drawer__Container {
    padding-left: 50px;
  }
  .SidebarMenu {
    width: 100%;
    background: #ffe000;
  }
  .SidebarMenu .Heading {
    color: black !important;
  }
  .Search {
    width: 76%;
  }
  .SectionHeader__Description {
    font-size: 1.8rem;
  }
  .CollectionMain {
    margin-top: 14rem !important;
  }
  .fil_dariane {
    top: 14rem !important;
    left: 3.4rem !important;
  }
  .ProductItem__Title, .ProductMeta__Title {
    line-height: 4rem;
  }
  .CollectionToolbar {
    top: 28rem;
  }
  #shopify-section-collection-template .Container {
    padding: 0px 2rem;
  }
  .ProductForm__AddToCart {
    margin: 0 auto;
  }
  .ProductMeta__Description {
    text-align: center;
  }
  #section-16221269157fe6da24 {
    display: block;
  }
  #section-16221269157fe6da24 .Slideshow__Carousel, #section-16221269157fe6da24 .Slideshow__Carousel .flickity-viewport, #section-16221269157fe6da24 .Slideshow__Slide {
    height: 81vh !important;
  }
  #section-16221269157fe6da24 .js .Slideshow--fullscreen {
    height: 83vh !important;
  }
  #section-16221269157fe6da24 .ButtonGroup__Item {
    color: white !important;
    text-transform: uppercase;
    font-family: 'FuturaBook' !important;
    letter-spacing: 2px;
    background: none;
    border: none;
    text-decoration: underline;
    font-size: 2.3rem;
    transition: all ease 0.1s;
  }
  #section-16221269157fe6da24 .ButtonGroup__Item::before {
    content: none;
  }
  #shopify-section-16164220335f9ae374 {
    margin-top: 0rem !important;
  }
  #shopify-section-16164220335f9ae374 h2.SectionHeader__Heading {
    text-align: center !important;
  }
  #shopify-section-16164220335f9ae374 .Heading {
    font-size: 2.2rem !important;
    width: 100%;
    text-align: left;
    margin: 0 auto;
    line-height: 2rem;
  }
  .title_block {
    width: 94%;
    margin: 0 auto;
  }
  .ProductList--carousel .Carousel__Cell:first-child {
    margin-left: 4%;
  }
  .Faq__Question {
    line-height: 1.7rem;
  }
  #section-footer .Footer__Title, #section-footer .Link {
    font-size: 1.4rem;
    line-height: 3rem;
  }
  .Header__Icon .Icon--search {
    position: relative;
    top: 0px;
    width: 18px;
    height: 13px;
  }
  .wg-list.country-selector {
    bottom: 1rem !important;
    right: 4px !important;
    top: unset !important;
    left: unset !important;
    position: absolute;
  }
  .Collapsible__Button.Heading {
    color: black !important;
    font-family: 'FuturaBook';
    letter-spacing: 1px;
    font-size: 2.8rem;
  }
  .Collapsible__Inner .Collapsible a, .Collapsible__Inner .Collapsible button {
    padding: 24px 0px !important;
  }
  .Collapsible__Inner .Collapsible .Linklist__Item a {
    padding: 0px !important;
  }
  .Header__FlexItem.Header__FlexItem--fill a.Header__Icon {
    position: absolute;
    right: 7rem;
  }
  .apropos .SectionHeader__Description {
    text-align: left;
  }
  .ProductMeta__Description p {
    font-family: "FuturaPTLight" !important;
    letter-spacing: 1px !important;
    font-size: 2.8em !important;
  }
  .ProductMeta__Vendor {
    font-size: 2.2rem !important;
  }
  .shipping {
    font-size: 2.4rem;
  }
  #shopify-section-page-contact-template .PageContent {
    margin-left: 0 !important;
    padding: 0rem 5rem;
  }
  .apropos .FeatureText__ImageWrapper {
    padding: 5rem;
  }
  .Footer .Footer__Inner {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
  }
  .Footer .Footer__Inner .Footer__Block {
    width: 40%;
    margin-top: 0px;
    height: auto;
    line-height: 6px !important;
  }
  .Footer .Footer__Inner .Footer__Title {
    margin-bottom: 3px;
    margin-top: 20px;
  }
  .Footer .Footer__PaymentList {
    bottom: 14rem !important;
    right: 8rem !important;
    top: unset !important;
    width: 40%;
    border-top: none;
  }
  .Footer .Footer__PaymentList svg {
    opacity: 0.8;
    width: 20px;
    height: 24px;
  }
}
