@font-face {
  font-family: 'SharpGrotesk';
  src: url("SharpGrotesk.woff") format("woff"), url("SharpGrotesk.woff2") format("woff2"), url("SharpGrotesk.eot"), url("SharpGrotesk.eot?#iefix") format("embedded-opentype"), url("SharpGrotesk.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPTBook';
  src: url("FuturaPT-Book.woff2") format("woff2"), url("FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPTDemi';
  src: url("FuturaPTDemi.woff2") format("woff2"), url("FuturaPTDemi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPT';
  src: url("FuturaPT-Light.woff2") format("woff2"), url("FuturaPT-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MinionPro';
  src: url("MinionPro-Regular.woff2") format("woff2"), url("MinionPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 62.5%;
}

@media (min-width: 991px) and (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}

@media (min-width: 750px) and (max-width: 990px) {
  html {
    font-size: 50%;
  }
}

.Header__Logo .Heading {
  font-family: 'SharpGrotesk';
  text-transform: lowercase;
  font-size: 3.8rem !important;
}

.show_me {
  display: block !important;
}

.shopify-section--bordered {
  border: none !important;
}

.SectionHeader__Heading {
  text-align: left;
  margin-left: 4.2rem;
}

.MegaMenu__Inner {
  grid-template-columns: repeat(auto-fit, minmax(120px, 6fr)) !important;
}

.supports-sticky .Search[aria-hidden=true] + .Header--black .Header__Icon,
.supports-sticky .Search[aria-hidden=true] + .Header--black .HorizontalList__Item > .SelectButton,
.supports-sticky .Search[aria-hidden=true] + .Header--black .HorizontalList__Item > .Heading,
.supports-sticky .Search[aria-hidden=true] + .Header--black .Header__LogoLink > .Heading,
.supports-sticky .Search[aria-hidden=true] + .Header--black .Text--subdued {
  color: black !important;
}

.supports-sticky .Search[aria-hidden=true] + .Header--transparent .Header__Icon,
.supports-sticky .Search[aria-hidden=true] + .Header--transparent .HorizontalList__Item > .SelectButton,
.supports-sticky .Search[aria-hidden=true] + .Header--transparent .HorizontalList__Item > .Heading,
.supports-sticky .Search[aria-hidden=true] + .Header--transparent .Header__LogoLink > .Heading,
.supports-sticky .Search[aria-hidden=true] + .Header--transparent .Text--subdued {
  color: currentColor;
}

.Header__Wrapper .Heading.Link, .Header__Wrapper .Link--secondary {
  font-size: 1.8rem;
  text-transform: lowercase;
  letter-spacing: 1px;
  color: black;
}

.Header__Wrapper .Heading {
  font-size: 1.8rem;
  letter-spacing: 1px;
  color: black;
}

.Header__Wrapper .MegaMenu__Title {
  font-weight: bold;
  color: black;
}

.Header__Wrapper .Header__CartCount {
  color: #FFF400;
  background: black;
  padding: 0px 5px 0px 6px;
  border-radius: 100%;
}

.Header--transparent .Header__CartCount {
  color: black !important;
  background: #FFF400 !important;
}

@media screen and (min-width: 1008px) {
  .\31\/4--lap-and-up, .\33\/12--lap-and-up {
    width: 20% !important;
  }
}

#shop_look_wrapper {
  display: block;
}

.ShopTheLook {
  width: 80%;
  padding: 0;
  max-width: 120vw;
}

.ShopTheLook .flickity-viewport {
  height: 80rem !important;
}

.ShopTheLook .ProductItem__Info {
  background: rgba(0, 0, 0, 0.6);
  padding: 13px;
  border-radius: 200px;
  color: #ddd304;
}

.ShopTheLook .ProductItem__Info .ProductItem__Title, .ShopTheLook .ProductItem__Info .ProductItem__Price {
  color: #ddd304 !important;
}

.ShopTheLook__ProductList .AspectRatio {
  display: none !important;
}

.ShopTheLook__ImageWrapper {
  width: 100% !important;
}

.ShopTheLook__ProductItem img {
  display: none;
}

.ShopTheLook__ViewButton, .flickity-page-dots {
  display: none !important;
}

.ShopTheLook__ProductList {
  position: absolute;
  right: 0;
  top: 3%;
}

.ShopTheLook__Dot::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: -5px;
  top: -5px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.4);
  -webkit-animation: 1.4s shopTheLookDotKeyframe ease-in-out infinite;
  animation: 1.4s shopTheLookDotKeyframe ease-in-out infinite;
}

.ShopTheLook__Dot {
  width: 10px;
  height: 10px;
}

.list_title {
  text-align: center;
  width: 100%;
  font-size: 2.4rem;
}

.list_subtitle {
  text-align: center;
  width: 100%;
  font-size: 1.8rem;
}

#shopify-section-16164220335f9ae374 .SectionHeader__Heading {
  margin-left: 0;
  text-align: center;
}

.shipping {
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  padding: 6px 0px;
}

#section-footer .Container {
  padding: 0 !important;
}

#section-footer #footer_title {
  font-family: "SharpGrotesk";
  color: black;
  white-space: nowrap;
  font-size: 7vw;
  text-align: center;
}

#section-footer .Footer__Inner {
  padding: 0 8rem;
}

#section-footer .Footer__Copyright {
  margin-left: 3rem;
}

#section-footer .Footer__Title, #section-footer .Link {
  font-size: 1.8rem;
  letter-spacing: 1px;
}

#section-footer .Form__Input {
  border: transparent !important;
  border-bottom: solid 1px black !important;
}

#section-footer .Form__Submit {
  display: none;
}
