// FONTS

@font-face {
  font-family: 'SharpGrotesk';
  src:url('SharpGrotesk.woff') format('woff'),
        url('SharpGrotesk.woff2') format('woff2'),
        url('SharpGrotesk.eot'),
        url('SharpGrotesk.eot?#iefix') format('embedded-opentype'),
        url('SharpGrotesk.otf') format('truetype');

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'FuturaPTBook';
    src: url('FuturaPT-Book.woff2') format('woff2'),
        url('FuturaPT-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaPTDemi';
    src: url('FuturaPTDemi.woff2') format('woff2'),
        url('FuturaPTDemi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('FuturaPT-Light.woff2') format('woff2'),
        url('FuturaPT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MinionPro';
    src: url('MinionPro-Regular.woff2') format('woff2'),
        url('MinionPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
  font-size: 62.5%;
  @media (min-width: 991px) and (max-width: 1200px) {
    font-size: 56.25%;
  }
  @media (min-width: 750px) and (max-width: 990px) {
    font-size: 50%;
  }
  @media (max-width: 749px) {
    font-size: 35%;
  }
}

.Header__Logo .Heading {
  font-family: 'SharpGrotesk';
  text-transform: lowercase;
  font-size: 3.8rem !important;
}



// GENERAL

.show_me {
  display: block !important;
}

.shopify-section--bordered {
  border: none !important;
}

.SectionHeader__Heading {
  text-align: left;
  margin-left: 4.2rem;
}


.Image--contrast::after {
    content: none;
    background-image:none;
}

// HEADER

.Header {
  box-shadow: none;
}

.Search {
  top: 0;
  z-index: 999 !important;
  width: 30%;
  right: 0;
}

@media screen and (min-width: 641px) {
  .\31\/4--tablet-and-up, .\33\/12--tablet-and-up {
      width: 100%;
  }
}


.Header__SecondaryNav a {
  text-transform: lowercase !important;
}

.MegaMenu__Inner {
    grid-template-columns: repeat(auto-fit, minmax(120px, 6fr)) !important;
}

.yellow {
  background-color: #ffe000!important;
}

.Header__Wrapper {
  .Heading.Link, .Link--secondary {
    font-size: 1.8rem;
    text-transform: lowercase;
    letter-spacing: 1px;
  }
  .Heading {
    font-size: 1.8rem;
    letter-spacing: 1px;
  }
  .MegaMenu__Title {
    font-weight: bold;
  }

  .Header__CartCount {
    padding: 0px 4px 0px 5px;
    font-size: 14px !important;
    border-radius: 100%;
  }
}

.Header--index {
  * {
    color: #ffe000 !important;
  }
}


.yellow .Header__CartCount {
  color: #ffe000  !important;
  background: black !important;
}

.Header--down, .yellow {
  * {
    color: black !important;
  }
}

.Header--black.Header--down {
  background: rgba(255,255,255,0.4);
}

.Header--black {
  * {
    color: black !important;
  }
}

.Header--down .Header__CartCount{
  color: black !important;
  background: #ffe000 !important;
}

.Header--black  .Header__CartCount {
  color: black !important;
  background: #ffe000 !important;
}

.yellow  .Header__CartCount {
  color: #ffe000 !important;
  background: black !important;
}

.Header--transparent .Header__CartCount {
  color: black !important;
  background: #ffe000 !important;
}


// SECTION 02

@media screen and (min-width: 1140px) {
  .CollectionItem__Wrapper--large {
      height: 900px!important;
  }
}



// COLLECTIONS

@media screen and (min-width: 1008px) {
  .\31\/4--lap-and-up, .\33\/12--lap-and-up {
      width: 20%!important;
  }
}

.CollectionToolbar {
  box-shadow: none;
  position: absolute;
  top: 20rem;
}

.CollectionToolbar__Item {
  border-left: none;
}

.CollectionInner {
    margin-top: 100px;
}

.fil_dariane {
  text-transform: uppercase;
  font-size: 14px;
  text-align: left!important;
  top: 3.5rem;
  z-index: 99;
  position:absolute;
}

// Chapitres

#shop_look_wrapper {
  display: block;
}

.ShopTheLook {
  width: 80%;
  padding: 0;
  max-width: 120vw;
  .flickity-viewport {
    // height: 80rem !important;
  }
}


.ShopTheLook__ProductItem .ProductItem__ImageWrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
}


.ShopTheLook__ProductList {
  .AspectRatio {
    display: none !important;
  }
  .flickity-viewport {
  }
}
.ShopTheLook__ImageWrapper {
  width: 100% !important;
}

.ShopTheLook__ProductItem {
  img {
    display: none;
  }

}

.ShopTheLook__ViewButton, .flickity-page-dots {
  display: none !important;
}

.ShopTheLook__ProductList {
  position: absolute;
  right: 0;
  top: 3%;
}


.ShopTheLook__Dot::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: -5px;
    top: -5px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.6);
    -webkit-animation: 1.4s shopTheLookDotKeyframe ease-in-out infinite;
    animation: 1.4s shopTheLookDotKeyframe ease-in-out infinite;
}

.ShopTheLook__Dot {
  width: 10px;
  height: 10px;

}

// collection list

.list_title {
  text-align: center;
  width: 100%;
  font-size: 2.4rem;
}

.list_subtitle {
  text-align: center;
  width: 100%;
  font-size: 1.8rem;
}

// nouveautés

#shopify-section-16164220335f9ae374 {
  .SectionHeader__Heading {
    margin-left: 0;
    text-align: center;
  }
}

// product

.shipping {
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  padding: 6px 0px;
}

// footer

#section-footer {
  .Container {
    padding: 0 !important;
  }
  #footer_title {
    font-family: "SharpGrotesk";
    color: black;
    white-space: nowrap;
    font-size: 7vw;
    text-align: center;
  }
  .Footer__Inner {
    padding: 0 8rem;
  }
  .Footer__Copyright {
    margin-left: 3rem;
  }

  .Footer__Title, .Link {
    font-size: 1.8rem;
    letter-spacing: 1px;
  }
  .Form__Input {
    border: transparent !important;
    border-bottom: solid 1px black !important;
  }
  .Form__Submit {
    display: none;
  }
}


// MOBILE

@media screen and (max-width: 798px) {
  .Header__LogoLink {
    margin-left: 12%;
  }

  .Header--transparent .Header__CartCount {
      margin-left: 1rem;
  }
}

